*{
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  padding: 0 ;
}

.container{
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.clearfix{
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

div{
  box-sizing: border-box;
}

// Block LOGO and MANU

#header{
  padding: 55px 0 0 0;
  background: #e6e6e6;
}

.logo_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #4e4e4e;
    &:hover{
      color: #1abb9c;
      transition: 0.4s;
    }
  }
}

.logo{
  a{
    font-size: 30px;
    text-transform: uppercase;
  }

}

.menu{
  a{
    padding-left: 25px;
    font-size: 14px;
  }
  .icon{
    display: none;
  }

}

//BURGER MUNE
.burger_menu {
  display: none;
}


// BLOCK BANNER CONTENT

#banner{
  background: url("../public/images/banner.jpg") no-repeat center center;
  background-size: cover;
}

.banner_content{
  height: 453px;
  text-align: center;
}

.banner_text{
  font-weight: bold;
  h2{
    font-size: 30px;
    padding-top: 140px;
    color: #fff;

  }
  h3{
    padding: 35px 0;
    font-size: 23px;
    color: #a8a8a8;
  }
}

.banner_button{
  a{
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 25px;
    background: #3f8dbf;
    border-radius: 3px;
  }
}

// BLOCK ICONS

#icons{
  background: #f7f7f7;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px 0;
  border-bottom: 2px solid #dcdcdc;

}

.block_icons{
  width: 230px;
  text-align: center;
  .block_icons_img{
    padding-bottom: 25px;
  }
  .block_icons_content{
    h3{
      font-size: 12px;
      color: #4e4e4e;
      font-weight: bold;
      padding-bottom: 20px;
    }
    p{
      font-size: 11px;
      color: #61616a;
    }
  }
}

// BLOCK LATEST WORKS

#latest_works{
  background: #f7f7f7;
  padding: 60px 0;
}

.our_latest{
  padding-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;

}

.latest_works{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block_latest_works{
  width: 335px;
  .block_latest_works_img{
    padding-bottom: 20px;
    img{
      width: 335px;
    }
  }

  .block_latest_works_content{
    h3{
      font-size: 14px;
      color: #4e4e4e;
      font-weight: bold;
      padding-bottom: 15px;
    }
    h5{
      font-size: 10px;
      color: #ada8a8;
      font-weight: bold;
      padding-bottom: 30px;
    }
    p{
      font-size: 11px;
      color: #5c5c5c;
    }
  }
}

//BLOCK TSUTATA

#tsutata{
  background: #efefef;
  padding: 55px 0 75px 0;
}

.tsutata{
  display: flex;
  justify-content: center;
}

.tsutata_content{
  width: 735px;
  text-align: center;
  .tsutata_content_img{
    padding-bottom: 25px;
  }
  .tsutata_content_content{
    p{
      font-size: 15px;
      color: #a1a1a1;
    }
  }
}

// BLOCK GET IN TOUCH, TWITTER, POPULAR POSTS, ABOUT US

#information{
  background: #1d1d1d;
}

.information{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.block_information_info_block {
  display: flex;
  align-items: baseline;
  .block_information_info_block_img {
    padding-right: 10px;
  }
  .block_information_info_block_st {
    display: flex;
    align-items: baseline;
  }
}

.block_information{
  width: 240px;
  .block_information_text{
    h3{
      font-size: 14px;
      color: #6c6c6c;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 30px;
    }
    p{
      font-size: 11px;
      color: #cacac5;
      padding-bottom: 40px;
      line-height: 20px;
    }
  }
    .block_information_info_block_text{
      p{
        font-size: 11px;
        color: #cacac5;
        line-height: 20px;
      }
    }
    .block_information_text_block{
      padding-bottom: 40px;
    }
    .block_information_text_p{
      p{
        padding-bottom: 2px;
      }
    }
    .block_information_info_block_st{
      padding-bottom: 40px;
    }
    .block_information_text_p_stroka{
      padding-bottom: 40px;
    }
}

.line{
  border-bottom: 2px solid #353535;
  padding: 60px 0;
}

//BLOCK FOOTER

#footer{
  background: #1d1d1d;
  padding: 45px 0;
}

.footer{
  font-size: 11px;
  color: #cacac5;
  font-weight: bold;
}

@media (max-width: 700px) {
  .container{
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
  }
  div{
    box-sizing: border-box;
  }

  // Block LOGO and MANU
  #header {
    padding: 0;
  }

  .logo_menu {
    display: block;
    padding: 30px 0 15px 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    a{
      font-size: 40px;
    }
  }

  //BLOCK BURGER
  .burger_menu {
    display: block;

    background: #4e4e4e;
      .topnav{
        height: 55px;
        background: #4e4e4e;
      a{
        display: none;

      }
      .icon{
        display: block;
        margin: 11px 0 0 0;
        padding-right: 20px;
        float: right;

        color: #aaaaaa;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: #1abb9c;
          transition: 0.4s;
        }
      }
    }
  }

  .topnav.responsive {
    position: relative;
    top: 0;
    height: 185px;
  }

  .topnav.responsive a.icon{
    position: absolute;
    top: 0;
    right: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;

    position: relative;
    top: 50px;

    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #aaaaaa;
    padding-bottom: 5px;
    margin-right: 20px;
    &:hover {
      color: #1abb9c;
      transition: 0.4s;
    }
  }

    .menu {
      display: none;
      a {
        padding-left: 25px;
        font-size: 14px;
      }

  }
  // BLOCK BANNER CONTENT
  #banner {
    background-image: url("../public/images/banner-table.jpg");
  }

  .banner_content{
    height: 220px;
  }

  .banner_text{
    h2{
      font-size: 20px;
      padding-top: 70px;
    }
    h3{
      padding: 15px 0 20px 0;
      font-size: 17px;
    }
  }

  .banner_button{
    a{
      font-size: 14px;
      padding: 10px 20px;
    }
  }
  // BLOCK ICONS

  .icons{
    flex-wrap: wrap;
    padding: 80px  0 40px 0;
  }

  .block_icons{
    width: 180px;
    padding-bottom: 60px;
    .block_icons_img{
      padding-bottom: 25px;
    }
    .block_icons_content{
      h3{
        font-size: 14px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  // BLOCK LATEST WORKS
  #latest_works{
    padding: 80px 0 0 0;
  }

  .our_latest{
    padding-bottom: 60px;
    text-align: center;
    font-size: 17px;
  }

  .latest_works{
    justify-content: center;
  }

  .block_latest_works{
    width: 310px;
    .block_latest_works_img{
      padding-bottom: 20px;
      img{
        width: 310px;
      }
    }

    .block_latest_works_content{
      h3{
        font-size: 16px;
      }
      h5{
        padding-bottom: 25px;
        font-size: 14px;
      }
      p{
        padding-bottom: 80px;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
  //BLOCK TSUTATA
  .tsutata{
    display: flex;
    justify-content: center;
  }

  .tsutata_content{
    width: 475px;
    .tsutata_content_img{
      padding-bottom: 30px;
    }
    .tsutata_content_content{
      p{
        font-size: 18px;
      }
    }
  }
  // BLOCK GET IN TOUCH, TWITTER, POPULAR POSTS, ABOUT US

  .information{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .block_information{
    width: unset;
    padding: 0 70px;
    .block_information_info{
      padding-bottom: 25px;
    }
    .block_information_text{
      h3{
        font-size: 16px;
      }
      p{
        font-size: 13px;
      }
    }

    .block_information_info_block_text{
      p{
        font-size: 13px;
      }
    }
  }
  .line{
    padding: 35px 0;
  }
  //BLOCK FOOTER
  #footer{
    padding: 55px 0 35px 0;
  }

  .footer{
    font-size: 13px;
  }

}

@media (max-width: 400px) {
  .container {
    max-width: 270px;
  }
  // Block LOGO and MANU
  .logo_menu {
    padding: 20px 0 25px 0;
  }

  // BLOCK BANNER CONTENT
  #banner {
    background-image: url("../public/images/banner-mobile.jpg");
  }

  .banner_content {
    height: 170px;
  }

  .banner_text {
    margin-bottom: 25px;
    h2 {
      font-size: 18px;
      padding-top: 25px;
    }
    h3 {
      display: none;
    }
  }
  // BLOCK ICONS
  .block_icons {
    width: 230px;
  }
  // BLOCK LATEST WORKS
  .block_latest_works {
    width: 235px;
    .block_latest_works_img {
      img {
        width: 235px;
      }
    }
  }
  //BLOCK TSUTATA

  .tsutata_content {
    width: 235px;
  }
  // BLOCK GET IN TOUCH, TWITTER, POPULAR POSTS, ABOUT US

  .block_information {
    padding: 0 27px;
  }
}
